In [11]:
import pandas as pd

In [2]:
df = pd.read_csv("../../../Downloads/17zpallagi.csv", low_memory=False)

In [12]:
df

,STATEFIPS,STATE,zipcode,agi_stub,N1,mars1,MARS2,MARS4,ELF,CPREP,...,N85300,A85300,N11901,A11901,N11900,A11900,N11902,A11902,N12000,A12000
0,1,AL,0,1,802640.0,474470.0,99850.0,216600.0,717050.0,44090.0,...,0.0,0.0,64680.0,53602.0,700940.0,1803125.0,698100.0,1796343.0,2860.0,4917.0
1,1,AL,0,2,499070.0,218590.0,137460.0,129760.0,448190.0,26230.0,...,0.0,0.0,77660.0,118725.0,419640.0,1175607.0,416180.0,1165352.0,4250.0,8894.0
2,1,AL,0,3,268590.0,89780.0,134440.0,38280.0,241060.0,14160.0,...,0.0,0.0,67820.0,156752.0,201030.0,560461.0,197060.0,547812.0,5440.0,13482.0
3,1,AL,0,4,170880.0,32180.0,124070.0,11660.0,154120.0,7980.0,...,0.0,0.0,48440.0,141721.0,121930.0,396526.0,118460.0,383588.0,3160.0,12369.0
4,1,AL,0,5,229870.0,22810.0,196990.0,5540.0,208380.0,11120.0,...,50.0,19.0,91100.0,465160.0,138250.0,588068.0,130970.0,529001.0,8430.0,55564.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166532,56,WY,99999,2,3630.0,2040.0,1030.0,440.0,3240.0,160.0,...,0.0,0.0,550.0,889.0,2960.0,7332.0,2890.0,7127.0,60.0,70.0
166533,56,WY,99999,3,2470.0,1020.0,1220.0,200.0,2230.0,120.0,...,0.0,0.0,570.0,1258.0,1810.0,5299.0,1740.0,5020.0,70.0,164.0
166534,56,WY,99999,4,1820.0,520.0,1200.0,100.0,1680.0,80.0,...,0.0,0.0,440.0,1644.0,1300.0,4643.0,1250.0,4069.0,50.0,197.0
166535,56,WY,99999,5,2480.0,390.0,2020.0,80.0,2290.0,130.0,...,0.0,0.0,820.0,4527.0,1570.0,7633.0,1410.0,6069.0,170.0,1189.0
166536,56,WY,99999,6,700.0,130.0,600.0,0.0,680.0,60.0,...,450.0,4298.0,330.0,13882.0,320.0,23131.0,140.0,1672.0,190.0,19241.0

In [13]:
ny_turnstile = pd.read_csv("turnstile.csv", low_memory=False)
print(ny_turnstile)

         C/A        DATE  UNIT  ent_diff  ext_diff        STATION LINENAME  \
0       A002  02/16/2020  R051      6164      3955          59 ST  NQR456W
1       A002  02/17/2020  R051      9079      6115          59 ST  NQR456W
2       A002  02/18/2020  R051     11809      7902          59 ST  NQR456W
3       A002  02/19/2020  R051     12693      8048          59 ST  NQR456W
4       A002  02/20/2020  R051     12145      7885          59 ST  NQR456W
...      ...         ...   ...       ...       ...            ...      ...
20624  TRAM2  03/30/2020  R469       250        28  RIT-ROOSEVELT        R
20625  TRAM2  03/31/2020  R469       371       104  RIT-ROOSEVELT        R
20626  TRAM2  04/01/2020  R469       367        43  RIT-ROOSEVELT        R
20627  TRAM2  04/02/2020  R469       352        31  RIT-ROOSEVELT        R
20628  TRAM2  04/03/2020  R469       296        45  RIT-ROOSEVELT        R

             LAT       LONG  ZIPCODE    COUNTY
0      40.762796 -73.967686    10022  New York
1      40.762796 -73.967686    10022  New York
2      40.762796 -73.967686    10022  New York
3      40.762796 -73.967686    10022  New York
4      40.762796 -73.967686    10022  New York
...          ...        ...      ...       ...
20624  40.757400 -73.954006    10021  New York
20625  40.757400 -73.954006    10021  New York
20626  40.757400 -73.954006    10021  New York
20627  40.757400 -73.954006    10021  New York
20628  40.757400 -73.954006    10021  New York

[20629 rows x 11 columns]

In [14]:
ny_turnstile['ZIPCODE'].nunique()

111

In [15]:
# iterating the columns 
ny_zip = df[df["STATE"] == "NY"]
print(ny_zip)

        STATEFIPS STATE  zipcode  agi_stub         N1      mars1     MARS2  \
95708          36    NY        0         1  3350620.0  2314770.0  422340.0
95709          36    NY        0         2  2159110.0  1191460.0  437030.0
95710          36    NY        0         3  1326500.0   676010.0  387690.0
95711          36    NY        0         4   848060.0   330830.0  385280.0
95712          36    NY        0         5  1312640.0   329030.0  861720.0
...           ...   ...      ...       ...        ...        ...       ...
104925         36    NY    99999         2    19520.0    11740.0    3990.0
104926         36    NY    99999         3    11940.0     6400.0    3650.0
104927         36    NY    99999         4     7650.0     3370.0    3460.0
104928         36    NY    99999         5    11500.0     4160.0    6610.0
104929         36    NY    99999         6     8420.0     2280.0    5860.0

           MARS4        ELF     CPREP  ...  N85300   A85300    N11901  \
95708   562630.0  3037920.0  163740.0  ...    40.0     22.0  447720.0
95709   481010.0  2004130.0   80180.0  ...    40.0     16.0  302310.0
95710   224500.0  1229660.0   45890.0  ...    20.0     10.0  274880.0
95711   104460.0   786820.0   25200.0  ...    40.0     96.0  199610.0
95712    93390.0  1229260.0   40310.0  ...  4860.0   3610.0  380820.0
...          ...        ...       ...  ...     ...      ...       ...
104925    3230.0    17920.0     700.0  ...     0.0      0.0    2870.0
104926    1610.0    10970.0     470.0  ...     0.0      0.0    2680.0
104927     720.0     7070.0     280.0  ...     0.0      0.0    1820.0
104928     570.0    10670.0     520.0  ...   100.0     27.0    3400.0
104929     250.0     7940.0     520.0  ...  5690.0  98575.0    3410.0

           A11901     N11900     A11900     N11902     A11902   N12000  \
95708    407210.0  2655500.0  5487553.0  2635880.0  5438358.0  22170.0
95709    506708.0  1843050.0  4780158.0  1823880.0  4713767.0  24320.0
95710    622962.0  1049950.0  3031120.0  1029370.0  2944005.0  28150.0
95711    598426.0   643530.0  2303259.0   623770.0  2209664.0  21810.0
95712   1862685.0   929620.0  4679105.0   877410.0  4248133.0  64040.0
...           ...        ...        ...        ...        ...      ...
104925     5286.0    16030.0    39577.0    15670.0    38031.0    280.0
104926     6642.0     8750.0    24307.0     8450.0    22692.0    240.0
104927     5690.0     5290.0    17836.0     4960.0    15986.0    250.0
104928    19257.0     7560.0    38194.0     6760.0    30696.0    770.0
104929   106462.0     4590.0   451743.0     2630.0    58509.0   2020.0

          A12000
95708    40415.0
95709    60615.0
95710    85075.0
95711    83691.0
95712   437606.0
...          ...
104925     832.0
104926     797.0
104927    1155.0
104928    5906.0
104929  348339.0

[9222 rows x 153 columns]

In [38]:
ny_zipcodes = ny_zip.loc[:, ['zipcode','agi_stub', 'N1','A00100']]
print(ny_zipcodes)
print(ny_zipcodes.dtypes)

        zipcode  agi_stub         N1       A00100
95708         0         1  3350620.0   41312407.0
95709         0         2  2159110.0   78566565.0
95710         0         3  1326500.0   81560100.0
95711         0         4   848060.0   73530398.0
95712         0         5  1312640.0  180245335.0
...         ...       ...        ...          ...
104925    99999         2    19520.0     709248.0
104926    99999         3    11940.0     734627.0
104927    99999         4     7650.0     661031.0
104928    99999         5    11500.0    1582001.0
104929    99999         6     8420.0   11333608.0

[9222 rows x 4 columns]
zipcode       int64
agi_stub      int64
N1          float64
A00100      float64
dtype: object

In [34]:
def calcAGI(d): 
    # {1:1000, 2: 1000, }
    total = sum(d.values())
    return 1*d[1]/total + 2*d[2]/total + 3*d[3]/total + 4*d[4]/total + 5*d[5]/total + 6*d[6]/total

In [41]:
prev_zip = 0
zip_val = {}
data = []
for index, row in ny_zipcodes.iterrows():
    if prev_zip == row['zipcode']:
        zip_val[row['agi_stub']] = row['N1']
    else: 
        agi_avg = calcAGI(zip_val)
        data.append([prev_zip, agi_avg])
        prev_zip = row['zipcode']
        zip_val[row['agi_stub']] = row['N1']
zip_df = pd.DataFrame(data, columns = ['ZIPCODE', 'agi_avg']) 
zip_df = zip_df.astype({"ZIPCODE": int})
zip_df

      ZIPCODE   agi_avg
0           0  2.620367
1       10001  3.372881
2       10002  2.232443
3       10003  3.796546
4       10004  4.269388
...       ...       ...
1531    14898  2.150000
1532    14901  1.931429
1533    14903  2.494475
1534    14904  1.983704
1535    14905  2.697183

[1536 rows x 2 columns]

In [46]:
# Merge on zipcode
data = zip_df.merge(ny_turnstile, on = 'ZIPCODE', how = 'inner')
print(data)
print(data.keys())

       ZIPCODE   agi_avg   C/A        DATE  UNIT  ent_diff  ext_diff  \
0        10001  3.372881  A022  02/16/2020  R022      7031      6173
1        10001  3.372881  A022  02/17/2020  R022     10378      8314
2        10001  3.372881  A022  02/18/2020  R022     14292     10979
3        10001  3.372881  A022  02/19/2020  R022     15849     12007
4        10001  3.372881  A022  02/20/2020  R022     15428     11739
...        ...       ...   ...         ...   ...       ...       ...
20430    11694  3.008969  N186  03/30/2020  R418        21        52
20431    11694  3.008969  N186  03/31/2020  R418        31        48
20432    11694  3.008969  N186  04/01/2020  R418        23        32
20433    11694  3.008969  N186  04/02/2020  R418        30        40
20434    11694  3.008969  N186  04/03/2020  R418        28        67

               STATION  LINENAME        LAT       LONG    COUNTY
0      34 ST-HERALD SQ  BDFMNQRW  40.749533 -73.987899  New York
1      34 ST-HERALD SQ  BDFMNQRW  40.749533 -73.987899  New York
2      34 ST-HERALD SQ  BDFMNQRW  40.749533 -73.987899  New York
3      34 ST-HERALD SQ  BDFMNQRW  40.749533 -73.987899  New York
4      34 ST-HERALD SQ  BDFMNQRW  40.749533 -73.987899  New York
...                ...       ...        ...        ...       ...
20430     BEACH 105 ST        AS  40.583542 -73.826430    Queens
20431     BEACH 105 ST        AS  40.583542 -73.826430    Queens
20432     BEACH 105 ST        AS  40.583542 -73.826430    Queens
20433     BEACH 105 ST        AS  40.583542 -73.826430    Queens
20434     BEACH 105 ST        AS  40.583542 -73.826430    Queens

[20435 rows x 12 columns]
Index(['ZIPCODE', 'agi_avg', 'C/A', 'DATE', 'UNIT', 'ent_diff', 'ext_diff',
       'STATION', 'LINENAME', 'LAT', 'LONG', 'COUNTY'],
      dtype='object')

In [47]:
data = data.loc[:, ['ZIPCODE','agi_avg']]
print(data)

       ZIPCODE   agi_avg
0        10001  3.372881
1        10001  3.372881
2        10001  3.372881
3        10001  3.372881
4        10001  3.372881
...        ...       ...
20430    11694  3.008969
20431    11694  3.008969
20432    11694  3.008969
20433    11694  3.008969
20434    11694  3.008969

[20435 rows x 2 columns]

In [48]:
data['ZIPCODE'].nunique()

110

In [33]:
#data = data.rename(columns={'A00100': 'Adjusted_gross_income'})
#print(data)

         zipcode  agi_stub  Adjusted_gross_income
0          10001         1                42685.0
48253      10001         2                94622.0
96506      10001         3               125439.0
144759     10001         4               128019.0
193012     10001         5               411915.0
...          ...       ...                    ...
7262183    11694         2                59757.0
7263478    11694         3                77697.0
7264773    11694         4                77913.0
7266068    11694         5               252222.0
7267363    11694         6               302119.0

[660 rows x 3 columns]

In [49]:
data = data.drop_duplicates()
print(data)

       ZIPCODE   agi_avg
0        10001  3.372881
568      10002  2.232443
712      10003  3.796546
895      10004  4.269388
1134     10005  4.104730
...        ...       ...
19955    11435  2.142164
20051    11691  2.026087
20195    11692  2.073116
20243    11693  2.402418
20387    11694  3.008969

[110 rows x 2 columns]

In [50]:
data.to_csv("ny-zipcode-agi-stub.csv", index=False)